.project-overview-section {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
}

.project-overview-section h2 {
    font-family: "Calibri";
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}

.project-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
    width: 60vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition: 0.2s all ease-in-out;
}

.project-image:hover {
    box-shadow: none;
    transition: 0.2s all ease-in-out;
}

.project-list-section {
    display: flex;
    flex-direction: column;

}

.project-list-section ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 0;
    padding-left: 0;
    gap: 5vw;

}

.project-list-section li {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.project-list-section a {
    text-decoration: none;
    color: black;
}

.project-list-section a:hover {
    text-decoration: underline;
}

.project-list-section p {
    font-family: "Calibri";
    font-size: 18px;
    font-weight: bold;
}

.year-label {
    margin-right: 60px;
}

.tech-label {

}

.about-label {
    margin-right: 45px;
}

.github-label {
    margin-right: 40px;
}

.link-label {
    margin-right: 60px;
}

.material-symbols-outlined {
    vertical-align: bottom;
}


/******************MEDIA QUERIES BEGIN******************/

/*
    THERE ARE A NUMBER OF MEDIA QUERIES TO HANDLE
    ADJUSTING THE IMAGE TO THE SCREEN SO THAT MOST OF THE
    OVERVIEW FITS ON THE SCREEN THE USER IS VIEWING THE CONTENT ON
*/

@media only screen and (min-width: 1250px) {
    .project-overview-section {
        width: 35vw;
    }
    .project-image {
        width: 35vw;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1249px) {
    .project-overview-section {
        width: 45vw;
    }
    .project-image {
        width: 45vw;
    }
}

@media only screen and (max-width: 950px) {
    .project-overview-section {
        width: 50vw;
    }
    .project-image {
        width: 50vw;
    }
}

@media only screen and (max-width: 768px) {
    /* FOR DESKTOP: */
    .project-overview-section {
        width: 70vw;
    }
    .project-image {
        width: 70vw;
    }
}

@media only screen and (max-width: 690px) {
    .project-overview-section {
        width: 75vw;
    }
    .project-image {
        width: 75vw;
    }
}

@media only screen and (max-width: 600px) {
    /* FOR TABLETS: */
    .project-overview-section {
        width: 80vw;
    }
    .project-image {
        width: 80vw;
    }
}


@media only screen and (max-width: 425px){
    /*FOR MOBILE*/
    .project-overview-section {
        width: 80vw;
    }
    .project-image {
        width: 80vw;
    }
}

/******************MEDIA QUERIES END******************/


